/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
coverage/
bootstrap/cache/*.php
build/
public/js/parts/*
.env
.env.ini

.docker/data/
!.docker/data/*/*.gitkeep
!.docker/data/*.gitkeep
.docker/logs/
!.docker/logs/*.gitkeep
.env
storage/installed
docker-compose.yml
._*.png
._*

public/tmp/
storage/build/*
storage/data/*.sqlit*
.env.ini

